<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">Acerca de Nosotros</a></li>
        <li><a href="/anclajes">Anclajes</a></li>
        <li><a href="/crear-cuenta">Crear Cuenta</a></li>
        <li><a href="/equipo-seguridad">Equipos Seguridad</a></li>
        <li><a href="/fijaciones">Fijaciones</a></li>
        <li><a href="/herramientas">Herramientas</a></li>
        <li><a href="/inicio-sesion">Login</a></li>
        <li><a href="/materiales-basicos">Materiales Basicos</a></li>
        <li><a href="/pago">Mis Compras</a></li>
        <li><a href="/suscripcion">Suscripcion</a></li>
        
    </ul>
</nav>

{% block content %}
{% endblock %}