body {
    font-family: 'Roboto', sans-serif; /* Cambié la fuente por una más sólida */
    margin: 0;
    padding: 0;
    background-color: #1a1a1a; /* Cambié el color de fondo a uno más oscuro */
    color: #fff; /* Cambié el color del texto a blanco */
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

h1 {
    margin: 0;
    padding: 0;
    font-weight: bold; /* Añadí negrita para mayor solidez */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold; /* Añadí negrita para mayor solidez */
    text-transform: uppercase; /* Convertí el texto a mayúsculas para un aspecto más agresivo */
}

.banner {
    background-image: url("static/img/ferramass_logo.jpg");
    background-size: cover; /* Añadí esta propiedad para cubrir completamente el contenedor */
    background-position: center; /* Centré la imagen de fondo */
    padding: 50px 0; /* Añadí un espacio interior para separar el contenido del borde */
}

.banner-text {
    text-align: center;
}

.banner-text h2 {
    font-size: 36px; /* Aumenté el tamaño del título para mayor impacto */
    font-weight: bold; /* Añadí negrita para mayor solidez */
}

.banner-text p {
    font-size: 20px; /* Aumenté el tamaño del texto para mayor legibilidad */
}

.btn-primary {
    background-color: #FF6347; /* Cambié el color del botón a uno más agresivo */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px; /* Añadí un margen superior para separar el botón del texto */
}

.contenedor-centrado {
    display: flex;
    justify-content: center;
    align-items: center; /* Opcional: alinea verticalmente los elementos en el centro */
    height: 100vh; /* Ajusta la altura del contenedor según tus necesidades */
}

.imagen-circular {
    border-radius: 50%; /* Hace que el borde sea circular */
    overflow: hidden; /* Oculta cualquier parte de la imagen que se extienda más allá del borde circular */
    width: 200px; /* Ajusta el ancho de la imagen según tus necesidades */
    height: 200px; /* Ajusta la altura de la imagen según tus necesidades */
}

