<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Buscar Pedido</title>
</head>
<body>
    <h1>Buscar Pedido por ID</h1>
    <form method="get" action="{% url 'buscar_pedido' %}">
        <label for="pedido_id">ID del Pedido:</label>
        <input type="text" id="pedido_id" name="pedido_id">
        <button type="submit">Buscar</button>
    </form>

    {% if pedido %}
        <h2>Detalles del Pedido</h2>
        <p><strong>ID:</strong> {{ pedido.pedido_id }}</p>
        <p><strong>Usuario:</strong> {{ pedido.usuario_id.nombre }}</p>
        <p><strong>Dirección de Envío:</strong> {{ pedido.direccion_envio_id.alias }}</p>
        <p><strong>Fecha de Pedido:</strong> {{ pedido.fecha_pedido }}</p>
        <p><strong>Fecha de Entrega Estimada:</strong> {{ pedido.fecha_entrega_estimada }}</p>
        <p><strong>Estado:</strong> {{ pedido.estado }}</p>
        <p><strong>Total:</strong> {{ pedido.total }}</p>

        <h3>Detalles de los Productos</h3>
        <ul>
            {% for detalle in detalles %}
                <li>
                    <p><strong>Producto:</strong> {{ detalle.producto_id.nombre }}</p>
                    <p><strong>Cantidad:</strong> {{ detalle.cantidad }}</p>
                    <p><strong>Precio Unitario:</strong> {{ detalle.precio_unitario }}</p>
                    <p><strong>Subtotal:</strong> {{ detalle.subtotal }}</p>
                </li>
            {% endfor %}
        </ul>
    {% elif pedido is not None %}
        <p>No se encontró el pedido con el ID proporcionado.</p>
    {% endif %}
</body>
</html>
